* {
    padding: 0;
    margin: 0;
}

body {
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

canvas {
    background: #eee;
    display: block;
    border: 1px solid #ccc;
}
